<div class="container mt-5 shadow mb-5 bg-white rounded text-secondary">
  <div class="row justify-content-center">
    <div class="col-8 mt-5 mb-3 text-dark">
      <h3>アカウントを編集する</h3>
    </div>
  </div>

  <%= form_with(model: @user, url: user_registration_path, local: true ) do |f| %>
    <div class="row justify-content-center">
      <div class="col-8">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= image_tag(@user.avatar.thumb.url, class:"img-fluid", alt:"ユーザー画像") %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.file_field :avatar, class:"form-control" %>
        <%= f.hidden_field :avatar_cache %>
        <% unless @user.avatar.blank? %>
          <%= f.check_box :remove_avatar %>
          画像を削除する
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :name %>
        <%= f.text_field :name, class:"form-control", autofocus: true %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class:"form-control " %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :email %>
        <%= f.email_field :email, class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :password %>
        <%= f.password_field :password , class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class:"form-control"  %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3 mb-5">
        <%= f.submit "アカウントを変更する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
