<div class="container mt-5 shadow mb-5 bg-white rounded text-secondary">
  <div class="row justify-content-center">
    <div class="col-8 mt-5 text-dark">
      <h3>新規アカウントを登録する</h3>
    </div>
  </div>

  <%= form_with(model: @user, url: user_registration_path, local: true ) do |f| %>
    <div class="row justify-content-center">
      <div class="col-8">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :name %>
        <%= f.text_field :name, class:"form-control", autofocus: true %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :email %>
        <%= f.email_field :email, class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :password %>
        <%= f.password_field :password , class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class:"form-control"  %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3 mb-5">
        <%= f.submit "アカウントを作成する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
