<div class="container mt-5 shadow mb-5 bg-white rounded text-secondary">
  <div class="row justify-content-center">
    <div class="col-8 mt-5 mb-4 text-dark">
      <h1><span class="title-border h3 pb-2 px-4 text-center">パパママに優しい施設をみんな広げよう！</span></h1>
    </div>
  </div>

  <%= form_with(model: @store, local: true ) do |f| %>
    <div class="row justify-content-center">
      <div class="col-8">
        <%= render "devise/shared/error_messages", resource: @store %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :image %>
        <%= f.file_field :image, class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :name %>
        <%= f.text_field :name, class:"form-control", autofocus: true %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :introduction %>
        <%= f.text_area :introduction, class:"form-control", placeholder: "施設のいいところを教えてね"  %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :postcode %>
        <%= f.text_field :postcode, id: "store_postcode", class:"form-control", placeholder: "ハイフンを入れずに入力してね　例「1111111」" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3 py-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :prefecture_code %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, { include_blank: "選択して下さい" }, { id: "store_prefecture_code", class:"form-control" } %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :city %>
        <%= f.text_field :city, id: "store_city", class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :url %>
        <%= f.text_field :url , class:"form-control", placeholder: "施設のURLを入力してみんなに教えてあげよう！" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3 mb-5">
        <%= f.submit "施設を登録する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('#store_postcode').jpostal({
    postcode : ['#store_postcode'],
    address: {
      "#store_prefecture_code": "%3",
      "#store_city"           : "%4%5%6%7",
    }
  });
</script>
