<% provide(:title, "施設の登録") %>

<div class="container mt-5 shadow mb-5 bg-white rounded text-secondary">
  <div class="row justify-content-center">
    <div class="col-8 mt-5 mb-4 text-dark">
      <h1><span class="title-border h3 pb-2 px-4 text-center">パパママに優しい施設をみんなに広げよう！</span></h1>
    </div>
  </div>

  <%= form_with(model: @store, local: true ) do |f| %>
    <div class="row justify-content-center">
      <div class="col-8">
        <%= render "devise/shared/error_messages", resource: @store %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :image %>
        <%= f.file_field :image, class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :name %>
        <%= f.text_field :name, class:"form-control", autofocus: true %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :introduction %>
        <%= f.text_area :introduction, rows: "5", class:"form-control js-text", placeholder: "施設のいいところを教えてね"  %>
        <P class="js-text-count text-end mb-0" data-maxlength=140></P>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :postcode %>
        <%= f.text_field :postcode, id: "store_postcode", class:"form-control", placeholder: "ハイフンを入れずに入力してね　例「1111111」" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3 py-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :prefecture_code %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, { include_blank: "選択して下さい" }, { id: "store_prefecture_code", class:"form-control" } %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <span class="badge bg-warning text-dark me-2 mb-1">必須</span><%= f.label :city %>
        <%= f.text_field :city, id: "store_city", class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :url %>
        <%= f.text_field :url , class:"form-control", placeholder: "施設のURLを入力してみんなに教えてあげよう！" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <div>
          施設のオプションを選択
        </div>
        <div class="d-flex align-content-start flex-wrap s-option-field">
          <div class="form-check">
            <%= f.label :授乳室 %>
            <%= f.check_box :nursing_room, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :おむつ交換スペース %>
            <%= f.check_box :diaper_changing_area, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :お湯 %>
            <%= f.check_box :hot_water, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :ベビーカー貸出 %>
            <%= f.check_box :stroller_rental, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :キッズスペース %>
            <%= f.check_box :kids_space, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :スペース広々 %>
            <%= f.check_box :large_space, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :身長体重計 %>
            <%= f.check_box :height_and_weight_scales, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :電子レンジ %>
            <%= f.check_box :microwave_oven, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :シンク・洗面台 %>
            <%= f.check_box :basin, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :ベビーチェアー付きトイレ %>
            <%= f.check_box :toilet_with_baby_chair, id:"flexCheckDefault", class:"form-check-input" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <div>
          飲食店のオプションを選択
        </div>
        <div class="d-flex align-content-start flex-wrap r-option-field">
          <div class="form-check">
            <%= f.label :たたみのお部屋 %>
            <%= f.check_box :tatami_room, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :個室 %>
            <%= f.check_box :private_room, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :離乳食持ち込み %>
            <%= f.check_box :baby_food, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :ベビーカーで入店 %>
            <%= f.check_box :stroller_access, id:"flexCheckDefault", class:"form-check-input" %>
          </div>

          <div class="form-check">
            <%= f.label :ベビーチェアー %>
            <%= f.check_box :baby_chair, id:"flexCheckDefault", class:"form-check-input" %>
            </label>
          </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-8 mt-3 mb-5">
        <%= f.submit "施設を登録する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $("#store_postcode").jpostal({
    postcode : ["#store_postcode"],
    address: {
      "#store_prefecture_code": "%3",
      "#store_city"           : "%4%5%6%7",
    }
  });
</script>
