<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <section class="row justify-content-center">
        <%= render "store_left_info", store: @store %>
        <%= render "store_right_info", store: @store %>
      </section>
      <%= render "show_store_gmap" %>
      <% if user_signed_in? && !current_user.already_reviewed?(@store) %>
        <div class="row justify-content-center mt-5">
          <%= render "review_form", review: @review, store: @store %>
        </div>
      <% end %>
      <hr>
      <div class="row justify-content-center">
        <div class="col-8 mt-5 text-center">
          <h2><span class="h4 title-border px-4">☆利用したパパママからのメッセージ☆</span></h2>
        </div>
      </div>
      <% if @reviews.present? %>
        <%= render "reviews_list", reviews: @reviews %>
        <div id ="paginate" class="paginate mt-3">
          <%= render "shared/paginate", pages: @reviews, page_name: "page" %>
        </div>
      <% else %>
        <%= render "no_review_posted" %>
      <% end %>
    </div>
  </div>
</div>
