<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <h2><%= @store.name %></h2>
          <%= image_tag(@store.user.avatar.url, class:"m-3 img-fluid mx-auto img-thumbnail", alt:"施設画像") %>
          <%= link_to user_path(@store.user), class:"text-decoration-none text-reset" do %>
              <figcaption class="figure-caption">情報提供者：<%= @store.user.name %></figcaption>
            <% end %>
        </div>
        <div class= "col-12 col-md-6 mt-5">
        <div class= "table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">施設名:</th>
                <td><%= @store.name %></td>
              </tr>
              <tr>
                <th scope="row">施設紹介:</th>
                <td><%= @store.introduction %></td>
              </tr>
              <tr>
                <th scope="row">施設URL:</th>
                <td><%= link_to @store.url, @store.url %></td>
              </tr>
              <tr>
                <th scope="row">住所:</th>
                <td colspan="2">〒<%= @store.postcode %></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2"><%= @store.prefecture_code%> <%= @store.city %></td>
              </tr>
            </tbody>
          </table>
        </div>
          <% if @store.user == current_user%>
            <div class="d-grid gap-2 col-12">
              <%= link_to "編集", edit_store_path(@store), class:"btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
