<header class="navbar navbar-expand-md sticky-top nav-color navbar-dark text-end py-3">
  <div class="container-fluid">
    <%= link_to "Baby_Go", root_url, class:"navbar-brand fs-2" %>
    <button class="navbar-toggler mb-2 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to spots_path, class:"nav-link" do %>
            <i class="fas fa-map-marked-alt"></i>現在地から探す
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to ranks_path, class:"nav-link" do %>
            <i class="fas fa-crown"></i>ランキング
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to stores_path, class:"nav-link" do %>
            <i class="fas fa-store-alt"></i>施設一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_store_path, class:"nav-link" do %>
            <i class="far fa-edit"></i>施設の投稿
          <% end %>
        </li>
      </ul>
      <% if user_signed_in? %>
        <button type="button" class="btn btn-outline-light dropdown-toggle ms-2" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.name %>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><%= link_to "マイページ", user_path(current_user), class:"dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
        </ul>
      <% else %>
          <ul class="navbar-nav">
            <li>
              <%= link_to new_user_session_path, class:"nav-link" do %>
                <i class="fas fa-sign-in-alt"></i>ログイン
              <% end %>
            </li>
            <li><%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-success" %></li>
          </ul>
      <% end %>
    </div>
  </div>
</header>
