<section id="reviews_list">
  <% reviews.each_with_index do |review, index|%>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 mt-3 review-<%= index + 1 %>">
        <%= link_to "#{ review.user.name }さん", user_path(review.user), class:"text-decoration-none text-dark" %>
        <div class="card">
          <div class="card-header d-flex">
            <div id="store_rate<%= review.id %>"></div>
            <span class="ms-3"><%= review.rating %> / 5.0 点</span>
          </div>
          <div class="card-body">
            <p class="card-text"><%= simple_format(review.comment) %></p>
            <div class="d-flex">
              <div class="me-auto">
                投稿日：<%= l review.created_at, format: :date %>
              </div>
              <% if current_user == review.user %>
                <%= link_to "修正", edit_store_review_path(review.store), class:"btn btn-outline-warning btn-sm" %>
                <%= link_to "削除", store_review_path(review.store), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-outline-danger btn-sm ms-2" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $("#store_rate<%= review.id %>").empty();
      $("#store_rate<%= review.id %>").raty({
        size      : 36,
        starOn: "<%= asset_pack_path('media/images/star-on.png') %>",
        starOff: "<%= asset_pack_path('media/images/star-off.png') %>",
        starHalf: "<%= asset_pack_path('media/images/star-half.png') %>",
        scoreName: "review[rating]",
        half: true, 
        readOnly: true,
        score: <%= review.rating %>,
      });
    </script>
  <% end %>
</section>
