<% reviews.each do |review|%>
  <div class="row justify-content-center">
    <div class="col-8 mt-3">
      <%= review.user.name %>さん
      <div class="card">
        <div class="card-header">
          <div id="store-rate<%= review.id %>"></div>
        </div>
        <div class="card-body">
          <p class="card-text"><%= simple_format(review.comment) %></p>
          <div class="d-flex">
            <div class="me-auto">
              投稿日：<%= l review.created_at, format: :date %>
            </div>
            <% if current_user == review.user %>
              <%= link_to '修正する', edit_store_review_path(review.store,review), class:"btn btn-outline-warning btn-sm" %>
              <%= link_to '削除する', store_review_path(review.store,review), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-outline-danger btn-sm ms-2" %>
            <% end %>
          </div>
        </div>
      </div>

      <script>
        $('#store-rate<%= review.id %>').empty();
        $('#store-rate<%= review.id %>').raty({
          size      : 36,
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[rating]',
          half: true, 
          readOnly: true,
          score: <%= review.rating %>,
        });
      </script>
    </div>
  </div>
<% end %>
