<%= form_with(model: review, url: store_review_path(store), local: true) do |f| %>
  <div class="row justify-content-center">
    <div class="col-8">
      <%= render "devise/shared/error_messages", resource: review %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 mt-3">
      <div class="mb-2">
        <%= current_user.name %>さんからのメッセージを書いてみてね！
      </div>
      <div id="rating" class="mb-2">
        <label>評価：</label>
        <%= f.hidden_field :rating, value: 'score' %>
      </div>
      <%= f.text_area :comment, rows:'5', placeholder: "施設のレビューを投稿してね！", class: "form-control" %>
      <%= f.hidden_field :store_id, value: store.id %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 mt-3">
      <%= f.submit "レビューを投稿する" %>
    </div>
  </div>
<% end %>

<script>
  $('#rating').empty();
  $('#rating').raty({
    size      : 36,
    starOn: "<%= asset_pack_path('media/images/star-on.png') %>",
    starOff: "<%= asset_pack_path('media/images/star-off.png') %>",
    starHalf: "<%= asset_pack_path('media/images/star-half.png') %>",
    scoreName: 'review[rating]',
    half: true, 
  });
</script>
