<% reviews.each do |review|%>
  <div class="row justify-content-center">
    <div class="col-8 mt-3">
      <%= review.user.name %>さん
      <div class="card">
        <div class="card-header">
          <div id="store-rate<%= review.id %>"></div>
        </div>
        <div class="card-body">
          <p class="card-text"><%= simple_format(review.comment) %></p>
          <div class="d-flex justify-content-between">
            投稿日：<%= review.created_at %>
            <% if current_user == review.user %>
              <%= link_to 'レビューを修正する', edit_store_review_path(review.store,review), class:"btn btn-outline-secondary btn-sm" %>
            <% end %>
          </div>
        </div>
      </div>

      <script>
        $('#store-rate<%= review.id %>').raty({
          size      : 36,
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[rating]',
          half: true, 
          readOnly: true,
          score: <%= review.rating %>,
        });
      </script>
    </div>
  </div>
<% end %>
