<section class="row">
  <% stores.each_with_index do |store, index| %>
    <div class="store-card col-12 col-md-4 col-xl-3">
      <div class="card  store-<%= index + 1 %> m-2">
        <%= link_to store_path(store) do %>
          <%= image_tag(store.image.thumb.url, class:"card-img-top img-thumbnail", alt:"施設画像-#{index + 1}") %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title h5"><%= store.name %></h2>
          <%= render "shared/check_signed_in_for_favorite", store: store %>
          <p class="card-text"><%= render 'shared/reviews_average', store: store %></p>
          <p class="card-text text-truncate">施設紹介：<%= store.introduction %></p>
          <p class="card-text">住所：<%= store.prefecture_code %></p>
          <%= link_to user_path(store.user), class:"text-decoration-none text-reset" do %>
            <p class="card-text"><small>情報提供者：<%= store.user.name %></small></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>

<script>
  $('.review-average-rating').empty();
  $('.review-average-rating').raty({
    readOnly: true,
    starOn: "<%= asset_pack_path('media/images/star-on.png') %>",
    starOff: "<%= asset_pack_path('media/images/star-off.png') %>",
    starHalf: "<%= asset_pack_path('media/images/star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
