<div class="container mt-5 shadow mb-5 bg-white rounded text-secondary">
  <div class="row justify-content-center">
    <div class="col-8 mt-5 text-dark">
      <h1><span class="title-border h2 px-4">ログイン</span></h1>
    </div>
  </div>

  <%= form_with(model: @user, url: user_session_path, local: true ) do |f| %>
    <div class="row justify-content-center">
      <div class="col-8">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :email %>
        <%= f.email_field :email, class:"form-control", autofocus: true %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.label :password %>
        <%= f.password_field :password , class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <%= f.check_box :remember_me %>
        <%= f.label "次回から自動的にログイン" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-3 mb-5">
        <%= f.submit "ログイン", class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>
