<div class="container mt-5 shadow mb-5 bg-white rounded text-secondary">
  <div class="row justify-content-center">
    <div class="col-8 mt-5 mb-4 text-dark">
      <h1 class="title-border h2 px-4 pb-2">レビューの修正</h1>
    </div>
  </div>

  <%= form_with(model: @review, url: store_review_path(@review.store), local: true) do |f| %>
    <div class="row justify-content-center">
      <div class="col-8">
        <%= render "devise/shared/error_messages", resource: @review %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 mt-3">
        <div id="rating" class="mb-2">
          <label>評価：</label>
          <%= f.hidden_field :rating, value: 'score' %>
        </div>
        <%= f.text_area :comment, rows:'5', placeholder: "施設のレビューを投稿してね！", class: "form-control" %>
        <%= f.hidden_field :store_id, value: @review.store.id %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 mt-3 mb-5">
        <%= f.submit "レビューを修正する" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('#rating').raty({
    size      : 36,
    starOn: "<%= asset_pack_path('media/images/star-on.png') %>",
    starOff: "<%= asset_pack_path('media/images/star-off.png') %>",
    starHalf: "<%= asset_pack_path('media/images/star-half.png') %>",
    score: "<%= @review.rating %>",
    scoreName: 'review[rating]',
    half: true, 
  });
</script>
