<!DOCTYPE html class="h-100">
<html lang="ja">
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= favicon_pack_tag('favicon.ico') %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application", media: "all" %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render "shared/header" %>
    <%= render "shared/flash_messages"%>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
